__pycache__/
.pytest_cache/
.ipynb_checkpoints/
*.pyc
*.egg-info/

data/raw/home-credit-default-risk/*.csv
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
outputs/features/*
!outputs/features/.gitkeep
outputs/models/*
!outputs/models/.gitkeep
outputs/reports/*
!outputs/reports/.gitkeep
